@charset "UTF-8";
html{
    box-sizing: border-box;
}
*{
    box-sizing: inherit;
}

body{
    margin: 0;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

#container{
    display: grid;
    grid-template-rows: [nav-start] 10% [nav-end] [main-start] 1f [main-end];
    grid-template-columns: 1f;
}

a{
    text-decoration: none;
}

a:link, a:visited{
    color: #F0F0F0;
}


a:focus, a:hover, a:active{
    color: #9999FF;
}

main{
    grid-template-rows: main;
    grid-template-columns: 1 / -1;
    background-color: #9999FF;
}

header{
    background-color: #003366;
    grid-template-rows: nav;
    grid-template-columns: 1 / -1;
    font-family: Blippo, fantasy;
    font-size: larger;
}

nav{
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li{
    font-size: 1.5em;
}

nav ul li a{
    padding: 1em .5em;
    margin: 1em;
}

#logo{
    transform: scale(0.2);
    left: 20px
}